@font-face {
    font-family: 'Manrope-Bold';
    src: url('../../FontesCarv/Manrope/Manrope-Bold.ttf');
}


.footer {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #fff;
    padding-bottom: 30px;
    height: 195px;
    margin-top: 15%;
    width: 100%;
}

.logo {
    border-right: 2px solid #fff;
    padding: 0em 1em;
    height: 225px;

}

.logo img {
    margin-top: 5em;
    margin-right: 5em;
}

.menu {
    border-right: 2px solid white;
    height: 225px; 
    justify-content: space-between;
}

.menu h2{
    margin-right: 5rem;
   
    color: #D9298A;
}

.text {
    
    color: #fff;
    padding: 0.1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'Manrope-Bold';
}

.item a:hover{
    color: #D9298A;
}
.information {
    margin-left: -5%;
}

.information h2{
    color: #D9298A;
    margin-top: 0rem;
}

.information a {
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: 'Manrope-Bold';
margin-left: -5%;
  
}
.information a:hover {
    color: #D9298A;
}

.information svg {
    padding-right: 12px;
    
}

.information svg:hover{
    color: #D9298A;
}


.information li {
    margin-top: 0.2rem;
}