@font-face {
    font-family: 'Manrope-Regular';
    src: url('../../FontesCarv/Manrope/Manrope-Regular.ttf');
}

@font-face {
    font-family: 'Manrope-Semibold';
    src: url('../../FontesCarv/Manrope/Manrope-SemiBold.ttf');
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1rem;
     
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 5em;
}

.item a {
    font-family: 'Manrope-Regular';
    color: #fff;
    text-decoration: none;
}

.item a:hover{
    color: #D9298A;
}

.btn{
    font-family: 'Manrope-Semibold';
    color: #fff;
    background-color: #D9298A;
    cursor: pointer;
    margin: 1em;
    padding: 5px 20px;
    border-radius:  0.4em;
}

.btn:hover{
    opacity: 0.5;
}